<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>me.nathanyu.youdao</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>28E59EB7-B72F-4E42-980D-A1FAF79F850F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C907E6CD-7FE0-4F59-8000-A92D0D2E6906</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8126DEC8-8492-4732-A249-188E99F50E9E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C8360D8A-B784-46CA-A2B6-26CD3EE59316</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C907E6CD-7FE0-4F59-8000-A92D0D2E6906</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8126DEC8-8492-4732-A249-188E99F50E9E</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2F979F59-4FB1-487A-85A0-BA00D726C4C7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CE64B1F5-063F-4FB5-B089-D48DA4191D19</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9D0129C8-A613-4FC8-B4B6-9862678D6AB7</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Nathan</string>
	<key>description</key>
	<string>Youdao English-Chinese dictionary</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Youdao Dict</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>8126DEC8-8492-4732-A249-188E99F50E9E</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>unstackview</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.hidealfred</string>
			<key>uid</key>
			<string>C8360D8A-B784-46CA-A2B6-26CD3EE59316</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>yd</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>正在查询···</string>
				<key>script</key>
				<string>/usr/bin/python3 scripts/youdao.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>请输入要查询的内容</string>
				<key>title</key>
				<string>有道词典</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>C907E6CD-7FE0-4F59-8000-A92D0D2E6906</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>-1</integer>
				<key>hotmod</key>
				<integer>524288</integer>
				<key>hotstring</key>
				<string>double tap</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>28E59EB7-B72F-4E42-980D-A1FAF79F850F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>text</key>
				<string></string>
				<key>usevoiceover</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.speak</string>
			<key>uid</key>
			<string>2F979F59-4FB1-487A-85A0-BA00D726C4C7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query="$1"

echo "$query"

echo -n "$query" | say $1 -v Samantha</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9D0129C8-A613-4FC8-B4B6-9862678D6AB7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>cd $TMPDIR
voice="youdao-$1-us.mp3"

echo play: "$voice" &gt;&amp;2

if [[ ! -e ${voice} ]]; then
  curl -sSLo "$voice" -d "audio=$1" -d "type=2" "https://dict.youdao.com/dictvoice"
fi

afplay "$voice"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CE64B1F5-063F-4FB5-B089-D48DA4191D19</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>默认快捷键 yd, 查看翻译结果。

1. 英译中
2. 中译英
3. 翻译短语句子
4. 预览有道翻译页面，查看详细内容
5. 复制翻译结果

功能

1. 按`Enter`听取本地发音
2. 按`Control + Enter`在线发音
3. 按`Command + Enter`本地发音
4. 按`Option + Enter`复制翻译结果
5. 按`Shift`预览有道翻译页面
6. 选中文字，双击`Option`进行翻译
7. 中译英时，选中英文结果按`Tab`查看详细解释</string>
	<key>uidata</key>
	<dict>
		<key>28E59EB7-B72F-4E42-980D-A1FAF79F850F</key>
		<dict>
			<key>xpos</key>
			<real>135</real>
			<key>ypos</key>
			<real>235</real>
		</dict>
		<key>2F979F59-4FB1-487A-85A0-BA00D726C4C7</key>
		<dict>
			<key>xpos</key>
			<real>635</real>
			<key>ypos</key>
			<real>235</real>
		</dict>
		<key>8126DEC8-8492-4732-A249-188E99F50E9E</key>
		<dict>
			<key>xpos</key>
			<real>635</real>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>9D0129C8-A613-4FC8-B4B6-9862678D6AB7</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>本地发音</string>
			<key>xpos</key>
			<real>855</real>
			<key>ypos</key>
			<real>435</real>
		</dict>
		<key>C8360D8A-B784-46CA-A2B6-26CD3EE59316</key>
		<dict>
			<key>xpos</key>
			<real>815</real>
			<key>ypos</key>
			<real>70</real>
		</dict>
		<key>C907E6CD-7FE0-4F59-8000-A92D0D2E6906</key>
		<dict>
			<key>xpos</key>
			<real>295</real>
			<key>ypos</key>
			<real>235</real>
		</dict>
		<key>CE64B1F5-063F-4FB5-B089-D48DA4191D19</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>在线发音</string>
			<key>xpos</key>
			<real>635</real>
			<key>ypos</key>
			<real>435</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
